---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BookCard from "../components/BookCard.astro";

const allBooks = await getCollection("anthologies");

// Natural sort function
const naturalSort = (
	a: CollectionEntry<"anthologies">,
	b: CollectionEntry<"anthologies">
) => {
	return a.data.order - b.data.order;
};

// console.log(allBooks);
const sortedPosts = allBooks.sort(naturalSort);
---

<Layout title="Anthologies" showAuth={true}>
	<main class="container">
		<div class="posts-grid">
			{
				sortedPosts.map((post: (typeof sortedPosts)[0]) => (
					<BookCard
						title={post.data.title}
						description={post.data.description}
						summary={post.data.summary}
						imagePath={post.data.imagePath}
						author={post.data.author}
						slug={post.data.slug}
					/>
				))
			}
		</div>
	</main>
</Layout>
