---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import BottomDrawer from "../../components/BottomDrawer.astro";
import ExploreWidget from "../../components/ExploreWidget.astro";

const seoTitle = "Discover the Words of the Buddha";
const description = "Explore";
---

<Layout seoTitle={seoTitle} showAuth={true} showSearch={false}>
	<main class="container mx-auto px-3 sm:px-4 pt-0">
		<ExploreWidget
			mode="full"
			showProjectStatus={true}
			title={seoTitle}
			description={description}
		/>
	</main>

	<BottomDrawer />
</Layout>
