---
import { getBreadcrumbPath } from "../utils/getBreadcrumbPath";
import { getSlugId, transformId } from "../utils/transformId";

const { path } = Astro.props;

const urlPathSegments = Astro.url.pathname.split("/");
const urlPath = urlPathSegments[urlPathSegments.length - 1];

// Pages to exclude breadcrumbs from
if (
	[
		"/",
		"/search",
		"/read-later",
		"/saves",
		"/register",
		"/signin",
		"/review-room",
		"/profile",
		"/qualities",
		"/simile",
	].indexOf(path) !== -1
)
	return null;

const segments = path.split("/").filter(Boolean);
const lastSegment = segments[segments.length - 1];
let breadcrumbs = segments.length > 0 ? getBreadcrumbPath(segments) : [];
if (breadcrumbs.length > 0) {
	if (breadcrumbs[breadcrumbs.length - 1].path.substring(1) !== urlPath) {
		breadcrumbs.push({
			label: transformId(urlPath),
			path: !path.startsWith("/qualities") ? `/${urlPath}` : ``,
		});
	}
}
---

<div
	class="flex items-center text-sm py-2 px-4 text-[var(--text-color)] border-b border-[var(--border-color)]"
>
	{
		breadcrumbs.map((item, index) => (
			<>
				{index > 0 && (
					<svg
						class="w-4 h-4 mx-2 text-gray-400 dark:text-gray-500"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M9 5l7 7-7 7"
						/>
					</svg>
				)}
				{index === breadcrumbs.length - 1 &&
				path.split("/")[1] === lastSegment ? (
					<span class="text-[var(--text-muted)]" title={item.title}>
						{item.label}
					</span>
				) : (
					<a
						href={item.path}
						class="text-[var(--text-color)] hover:text-[var(--link-hover-color)] transition-colors duration-200"
						title={item.title}
					>
						{item.label}
					</a>
				)}
			</>
		))
	}
</div>
